.ol-permalink {
  position: absolute;
  top:0.5em;
  right: 2.5em;
}
.ol-touch .ol-permalink {
  right: 3em;
}

.ol-permalink button i {
  position: absolute;
  width: 1em;
  height: 1em;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ol-permalink button i:before {
  content: '\2197';
  position: absolute;
  border: 1px solid currentColor;
  left: 0;
  top: 0;
  width: 0.3em;
  height: 1em;
  box-sizing: border-box;
  border-width: 1px 0 0 1px;
  padding: 0 0.2em;
}
.ol-permalink button i:after {
  content: '';
  position: absolute;
  border: 1px solid currentColor;
  right: 0;
  bottom: 0;
  width: 1em;
  height: 0.3em;
  box-sizing: border-box;
  border-width: 0 1px 1px 0;
  padding: 0.2em;
}