.ol-control.ol-print {
  top:.5em;
  left: 3em;
}
.ol-control.ol-print button:before {
  content: "";
  width: .9em;
  height: .35em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0 0 0 0.1em, inset 0.55em 0, 0 0.2em 0 -0.1em;
}
.ol-control.ol-print button:after {
  content: "";
  width: .7em;
  height: .6em;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  box-shadow: inset 0 0 0 0.15em;
}