.ol-control.ol-select {
  top: .5em;
  left: 3em;
  background-color: rgba(255,255,255,.5);
}
.ol-control.ol-select:hover {
  background-color: rgba(255,255,255,.7);
}
.ol-touch .ol-control.ol-select {
  left: 3.5em;
}
.ol-control.ol-select > button:before {
  content: "A";
  font-size: .6em;
  font-weight: normal;
  position: absolute;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .2em solid currentColor;
  border-radius: 100%;
  top: .5em;
  left: .5em;
  line-height: 1em;
  text-align: center;
}
.ol-control.ol-select > button:after {
  content: "";
  position: absolute;
  top: 1.15em;
  left: 1em;
  width: .45em;
  height: .15em;
  background-color: currentColor;
  border-radius: .05em;
  transform: rotate(45deg);
  box-shadow: -0.18em 0 0 -0.03em;
}
.ol-select > div button {
  width: auto;
  padding: 0 .5em;
  float: right;
  font-weight: normal;
  height: 1.2em;
  line-height: 1.2em;
}
.ol-select .ol-delete {
    width: 1.5em;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.ol-select .ol-delete:before {
  content:'\00d7';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.ol-control.ol-select input {
  font-size: 1em;
}
.ol-control.ol-select select {
  font-size: 1em;
  max-width: 10em;
}
.ol-control.ol-select select option.ol-default {
  color: #999;
  font-style: italic;
}
.ol-control.ol-select > div {
  display: block;
  margin: .25em;
}
.ol-control.ol-select.ol-collapsed > div {
  display: none;
}

.ol-control.ol-select.ol-select-check {
  max-width: 20em;
}
.ol-control.ol-select label.ol-ext-check {
  margin-right: 1em;
}
.ol-control.ol-select label.ol-ext-toggle-switch span {
  font-size: 1.1em;
}

.ol-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ol-control.ol-select input[type="search"],
.ol-control.ol-select input[type="text"]  {
  width: 8em;
}

.ol-select .ol-autocomplete {
  display: inline;
}
.ol-select .ol-autocomplete ul {
  position: absolute;
  display: block;
  background: #fff;
  border: 1px solid #999;
  min-width: 10em;
  font-size: .85em;
}
.ol-select .ol-autocomplete ul li {
  padding: 0 .5em;
}
.ol-select .ol-autocomplete ul li:hover {
  color: #fff;
  background: rgba(0,60,136,.5);
}
.ol-select ul.ol-hidden {
  display: none;
}

.ol-select-multi li > div:hover,
.ol-select-multi li > div.ol-control.ol-select {
  position: relative;
  top: unset;
  left: unset;
  background: transparent;
}
.ol-select-multi li > div  > button,
.ol-select-multi li > div  .ol-ok {
  display: none;
}
.ol-select-multi li .ol-control.ol-select.ol-collapsed > div,
.ol-select-multi li > div  > div {
  display: block;
}
