.ol-perspective-map {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%);
}
.ol-perspective-map .ol-layer {
  z-index: -1!important; /* bug using Chrome ? */
}
.ol-perspective-map .ol-layers {
  transform: translateY(0) perspective(200px) rotateX(0deg) scaleY(1);
}
/*
.ol-perspective-map.ol-perspective-10deg .ol-layers {
  transform: translateY(-5%) perspective(200px) rotateX(10deg) scaleY(.8);
}
.ol-perspective-map.ol-perspective-20deg .ol-layers {
  transform: translateY(-11%) perspective(200px) rotateX(20deg) scaleY(.6);
}
.ol-perspective-map.ol-perspective-30deg .ol-layers {
  transform: translateY(-17%) perspective(200px) rotateX(30deg) scaleY(.5);
}
*/

/* Controls position on the map */
.ol-perspective-map .ol-zoom {
  top: calc(25% + .5em);
  left: calc(25% + .5em);
}
.ol-perspective-map .ol-rotate {
  top: calc(25% + .5em);
  right: calc(25% + .5em);
}
.ol-perspective-map .ol-attribution {
  bottom: calc(25% + .5em);
  right: calc(25% + .5em);
}
.ol-perspective-map .ol-attribution.ol-uncollapsible {
  bottom: 25%;
  right: 25%;
}

.ol-perspective-map .ol-layerswitcher {
  top: calc(25% + 3em);
  right: calc(25% + .5em);
}
.ol-touch .ol-search {
  left: calc(25% + 3.5em);
}
.ol-search {
  top: calc(25% + .5em);
  left: calc(25% + 3em);
}