.ol-input-popup {
  display: inline-block;
  position: relative;
}
.ol-input-popup .ol-popup {
  position: absolute;
  box-shadow: 1px 1px 3px 1px #999;
  background-color: #fff;
  z-index: 1;
  display: none;
  left: -5px;
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}
.ol-input-popup:hover .ol-popup {
  display: block;
}

.ol-input-popup .ol-popup li {
  position: relative;
}

.ol-input-popup.ol-fixed:hover .ol-popup,
.ol-input-popup.ol-fixed .ol-popup {
  position: relative;
  left: 0;
  box-shadow: unset;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
}
.ol-input-popup.ol-fixed.ol-left .ol-popup {
  float: left;
}

