.ol-input-size {
  display: inline;
  position: relative;
}
.ol-input-size .ol-popup {
  position: absolute;
  width: 100px;
  height: 3px;
  box-shadow: 1px 1px 3px 1px #999, inset 0 0 0 1px #999;
  background-color: #fff;
  z-index: 1;
  border: 0 solid #fff;
  border-width: 10px;
  box-sizing: content-box;
  display: none;
  cursor: pointer;
  left: -5px;
}
.ol-input-size.ol-left .ol-popup {
  left: auto;
  right: -5px;
}
.ol-input-size:hover .ol-popup {
  display: block;
}
.ol-input-size .ol-popup > div {
  position: absolute;
  width: 5px;
  height: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #999;
  pointer-events: none;
}